In [1]:
# Import necessary packages
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.metrics import r2_score
from sklearn.metrics import classification_report, confusion_matrix

# Neural Networks
import sklearn
from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor

In [2]:
df = pd.read_csv('../../Data/zoo.data.csv', header = 0)

In [3]:
df.columns=['Name','hair','feathers','eggs','milk','airborne','aquatic', 'predator', 'toothed','backbone','breathes','venomous','fins','legs','tail','domestic','catsize','type']

In [4]:
# Print the first few rows

,Name,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
1,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
2,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
3,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1
4,buffalo,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1

In [1]:
# Print dataset shape 


# Describe dataset

NameError: name 'df' is not defined

In [6]:
# Create feature and target arrays, save as X and y

In [7]:
# One hot encode labels
from sklearn.preprocessing import OneHotEncoder 

encoded_X = OneHotEncoder().fit_transform(X).toarray()
print(encoded_X)

[[1. 0. 0. ... 0. 0. 1.]
 [0. 1. 0. ... 0. 1. 0.]
 [0. 0. 1. ... 0. 0. 1.]
 ...
 [0. 0. 0. ... 0. 0. 1.]
 [0. 0. 0. ... 0. 1. 0.]
 [0. 0. 0. ... 0. 1. 0.]]

In [8]:
# Split into Training & Testing Sets
X_train, X_test, y_train, y_test = train_test_split(encoded_X, y, test_size=0.30, random_state=123)

In [9]:
# Print feature data 
print(X_train.shape)
print(X_test.shape)

(70, 135)
(30, 135)

In [10]:
# Create Clasifier Object

mlp = MLPClassifier(hidden_layer_sizes=(8,8,8), activation='relu', solver='adam', max_iter=250)

In [11]:
# Fit Classifier

/Users/aodubela/opt/anaconda3/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:568: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (250) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(8, 8, 8), learning_rate='constant',
              learning_rate_init=0.001, max_fun=15000, max_iter=250,
              momentum=0.9, n_iter_no_change=10, nesterovs_momentum=True,
              power_t=0.5, random_state=None, shuffle=True, solver='adam',
              tol=0.0001, validation_fraction=0.1, verbose=False,
              warm_start=False)

In [12]:
# Make Predictions

In [13]:
# Print metrics
print(confusion_matrix(y_train,predict_train))
print(classification_report(y_train,predict_train))

[[29  0  0  0  0  0  0]
 [ 0 14  0  0  0  0  0]
 [ 0  0  3  0  0  0  1]
 [ 0  0  0  9  0  0  0]
 [ 0  0  0  0  2  0  0]
 [ 0  0  0  0  0  3  0]
 [ 0  0  0  0  0  0  9]]
              precision    recall  f1-score   support

           1       1.00      1.00      1.00        29
           2       1.00      1.00      1.00        14
           3       1.00      0.75      0.86         4
           4       1.00      1.00      1.00         9
           5       1.00      1.00      1.00         2
           6       1.00      1.00      1.00         3
           7       0.90      1.00      0.95         9

    accuracy                           0.99        70
   macro avg       0.99      0.96      0.97        70
weighted avg       0.99      0.99      0.99        70